*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.info_wrapper{
    width: 100%;
    padding: 10px;
    background: #000814;

}
.info_container{
    width: 100%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-inline: auto;
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    background: #e9ecef;
}
@media screen and (width>=48rem) {
    .info_wrapper{
        padding: 2rem;
        background: #000814;
    }
    .info_container{
        width: 70%;
    }
}
.info_container .contactBtn{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: #ade8f4;
    font-weight: 700;
}