* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.projectPage_container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: #000814;
  gap: 1.5rem;
}

.projectCard_projectPage {
  flex-shrink: 0;
  flex-grow: 0;
  width: clamp(18.75rem, 9.821rem + 23.81vw, 31.25rem);
  height: 200px;
  background: #edede9;
  backdrop-filter: blur(10px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
  display: flex;
  align-content: space-between;
  position: relative;
  overflow: hidden;
}

.projectCard_projectPage .img_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

}

.projectCard_projectPage .img_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 10px;
}

.projectBody_projectPage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    background: #ffffff9d;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
}
.projectBody_projectPage a{
  text-decoration: none;
  color: #fff;
}
.projectBody_projectPage button{
    width: 140px;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    font-weight: 400;
    border-radius: 8px;
    padding: 5px 8px;
}

.projectCard_projectPage:hover .projectBody_projectPage,
.projectCard_projectPage:active .projectBody_projectPage{
    right: 0;
    transition: 0.3s 0.5s;
}


@keyframes appearbox {
  from{
      opacity: 0;
      /* scale: 0.7; */
  }
  to{
      opacity: 1;
      /* scale: 1; */
  }
}

.appearBox{
  animation: appearbox 2s ease-in-out forwards;

}