*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sideBar_container{
    position: absolute;
    top: 0;
    left: -100%;
    width: 220px;
    height: 100dvh;
    background: #000814;
    z-index: 100;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.sideBar_title{
    color: #fff;
    background: #1e88e5;
    padding: 10px 5px ;
}


.sideBar_container .sidebarItem .sidebarlink{
    color: #dad7cd;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    color: #dad7cd;
    cursor: pointer;
    padding: 10px;
}
.sideBar_container .sidebarItem:hover,
.sideBar_container .sidebarItem:active{
    color: #1e88e5;
    transition: 0.3s;
}

.sideBar_container.openSidebar{
    opacity: 1;
    left: 0%;
    transition: 0.3s 0.2s;
}

.sideBar_container.hideSidebar{
    opacity: 0;
    left: -100%;
    transition: 0.3s 0.2s;
}